.popup-custom .ant-modal-header {
  border-bottom: 0.5px solid #eee;
}
.popup-custom .ant-modal-title {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  padding: 0px 0 5px 0;
}
.popup-custom .ant-modal-footer {
  border-top: 0.5px solid #eee;
  padding-top: 10px;
}
.popup-custom .ant-modal-body {
  padding-top: 5px;
}
// .ant-switch-inner {
//   background-color: #eee;
// }
.ant-switch {
  background-color: #eee;
}
