.NameLeft {
  color: white;
  margin-top: 30px;
  width: 30%;
  // padding: 20px 0;

  .ant-btn-default {
    color: white;
    margin-top: 30px;
    width: 30%;
    // padding: 20px 0;
  }

  .ant-btn-default:hover {
    border: solid 1px #bb0000 !important;
    background-color: white !important;
    color: #bb0000 !important;
  }
}

.blog-detail-item {
  background-color: white;
  border-radius: 30px;
}
